name: AUDIO

#Seanet encoder config
encoder:
  _target_: modules.models.SEANetEncoder2d
  in_channels: 1
  base_channels: 64
  dimension: 512
  n_residual_layers: 3
  ratios: [8, 5, 4, 2]         
  kernel_size: 7
  last_kernel_size: 7
  residual_kernel_size: 3
  dilation_base: 2

#Transformer config
transformer:
  _target_: modules.models.TransformerDecoderAudioConditioned
  d_model: 512
  n_heads: 4
  n_layers: 8
  d_ff: 2048
  max_seq_len: 256
  max_audio_len: 5000
  dropout: 0.0
  conditional: false
  use_flash: true
