name: discrete_seanet

freeze_encoder: false
use_processor: false
sample_rate: 16000

#Seanet encoder config
encoder:
  _target_: modules.models.SEANetEncoder2d
  in_channels: 1
  base_channels: 64
  dimension: 512
  n_residual_layers: 3
  ratios: [8, 5, 4, 4]         
  kernel_size: 7
  last_kernel_size: 7
  residual_kernel_size: 3
  dilation_base: 2
  use_transformer: true
  config_transformer:
    d_model: 512
    n_heads: 4
    n_layers: 4
    d_ff: 2048
    max_seq_len: 2048
    dropout: 0.2
    use_flash: true

#Transformer Decocer config
#transformer:
#  _target_: modules.models.TransformerDecoderAudioConditioned
#  d_model: 512
#  n_heads: 4
#  n_layers: 8
#  d_ff: 2048
#  max_seq_len: 2048
#  max_audio_len: 5000
#  dropout: 0.0
#  conditional: false
#  use_flash: true

#Transformer Decocer config
transformer:
  _target_: modules.transformer2.TransformerDecoderAudioConditioned

  # --- Model dimensions ---
  d_model: 512                
  d_ff: 2048                  
  n_heads: 8                  
  num_kv_heads: 2
  n_layers: 8      
  dropout: 0.0               

  use_flash: true            
  conditional: false           # If true, expects class embeddings

  rope_base: 10000.0           # Base frequency (common: 10000)

