name: EXP_CODEC

#Seanet encoder config
encoder:
  _target_: modules.models2.Encodec

#Transformer Decocer config
transformer:
  _target_: modules.transformer2.TransformerDecoderAudioConditioned

  # --- Model dimensions ---
  d_model: 512                
  d_ff: 2048                  
  n_heads: 4                  
  num_kv_heads: 2
  n_layers: 8      
  dropout: 0.0               

  use_flash: true            
  conditional: false           # If true, expects class embeddings

  rope_base: 10000.0           # Base frequency (common: 10000)

